<div class="bg">
  <div>
    <button mat-raised-button color="primary" (click)="addData()">
      Добавить документ
    </button>
  </div>

  <table
    mat-table
    [dataSource]="sortedData | slice: pageStart:pageEnd"
    matSort
    (matSortChange)="sortData($event)"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Номер</th>
      <td mat-cell *matCellDef="let data">{{ data.position }}</td>
    </ng-container>

    <ng-container matColumnDef="fio">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by fio"
      >
        ФИО
      </th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="!data.isEdit">{{
          data.author ? data.author.fio : "-"
        }}</span>

        <mat-form-field *ngIf="data.isEdit">
          <input
            matInput
            [value]="data.author ? data.author.fio : '-'"
            (change)="setDocData('fio', data.position, $event)"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="post" class="delete-block">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by post"
      >
        Должность
      </th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="!data.isEdit">{{
          data.author ? data.author.post : "-"
        }}</span>

        <mat-form-field *ngIf="data.isEdit">
          <input
            matInput
            [value]="data.author ? data.author.post : '-'"
            (change)="setDocData('post', data.position, $event)"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="docName">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by docName"
      >
        Название документа
      </th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="!data.isEdit">{{ data.docName }}</span>
        <mat-form-field *ngIf="data.isEdit">
          <input
            matInput
            [value]="data.docName"
            (change)="setDocData('docName', data.position, $event)"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="address" class="delete-block">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by address"
      >
        Адрес
      </th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="!data.isEdit">{{ data.address }}</span>
        <mat-form-field *ngIf="data.isEdit">
          <input
            matInput
            [value]="data.address"
            (change)="setDocData('address', data.position, $event)"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="docDate">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by docDate"
      >
        Дата
      </th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="!data.isEdit">{{ data.docDate }}</span>
        <mat-form-field *ngIf="data.isEdit">
          <input
            matInput
            [value]="data.docDate"
            (change)="setDocData('docDate', data.position, $event)"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by status"
      >
        Статус
      </th>
      <td mat-cell *matCellDef="let data">
        <span *ngIf="!data.isEdit">{{ statuses[data.status] }}</span>
        <mat-form-field *ngIf="data.isEdit">
          <mat-select
          [(ngModel)]="data.status"
            (selectionChange)="setDocData('status', data.position, $event)"
          >
            <mat-option
              *ngFor="let viewStatus of viewStatus"
              [value]="viewStatus.value"
            >
              {{ viewStatus.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let data" (click)="editDocument(data.position)">
        <span *ngIf="!data.isEdit" class="material-icons icon-pink">edit</span>
        <span *ngIf="data.isEdit" class="material-icons icon-green">done</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="sortedData.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[3, 5, 10]"
    aria-label="Select page"
    (page)="viewTableData($event)"
  ></mat-paginator>
</div>
